body{
}
#top{
	height: 50px;
}
#top h1{
	text-align: center;
}
#main{
	width: 100%;
	background: #006600;
}
#main #left{
	width: 20%;
	height: auto;
	margin-bottom: 0px;
	float: left;
	background: #006600;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	margin: auto;
	border: 1px solid #006600;
}
#main #left div{
	background: #006600;
}
#main #left ul{
	float: left;
	background: #006600;
	margin: 0px 0px 0px 0px;
	width: 100%;
	height: 50px;
}
#main #left ul h1{
	font-size: 20px;
	margin: 0px 0px 0px 0px;
	/*width: 100%;*/ 
	background: #006600;
	height: 100%;
}

#main #left ul li{
	list-style: none;
	margin-top: 20px;
	margin-bottom: 20px;
	/*width: 100%;*/
	height: 100%;
}
#main #left ul li a{
	text-decoration: none;
	display: block;
	height: 100%;
}
#main #left ul li a.avtive{

}
#main #right{
	width:80%;
	min-height: 500px;
	float: left;
	background: white;
	border: 1px solid #f1f1f1;
	margin-right: 0px;
}

.style-taikhoan{
	height: 40%;
}
.img-taikhoan{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	display: flex;
	margin-left: 300px;
	margin-top: 20px;
	border: 1px solid #f1f1f1;
}
