#top h1{
	display: flex;
	margin: auto;
	height: 80px;
	text-align: center;
	font-family: cursive;
	align-items: center;
	justify-content: center;
}
#menu li {display: inline-block;}
#menu li:hover {background: #555;}
#menu li:hover ul {display: block;}
#menu li ul {
  position: absolute;
  width: 200px;
  display: none;
}
#menu li ul li { 
  display: block; 
}
#menu li ul li a {
	display:block !important;
} 
#menu li ul li #chitetsanpham:hover {background: #666;}

#main{

}
#main ul{
	align-items: top;
	text-align: center;
	list-style: none;
}
#main ul li{
	margin: 20px;
	float: left;
}
#main ul li a{
	float: left;
	text-decoration: none;
}
#main ul li a img {
	height: 300px;
	width: 220px;
}
.main-left{
	width: 50%;
	height: auto;
	float: left;
}
.main-img{
	width: 300px;
	height: 400px;
	float: right;
	margin-right: 20%;
}
.main-right{
	width: 50%;
	height: auto;
	float: left;
}